.container{
    margin: 10%;
    width: 10%;
    padding: 5%;
}
.auto{
    background-color: #dee4ed;
    padding: 70px;
    border-radius: 5px;
    margin-left:30%;
    margin-bottom: 0%;
    margin-top: -5%;
    height: 30%;
    width: 30%;
}

